<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @table.restaurant_id %>
</p>

<p>
  <strong>Number table:</strong>
  <%= @table.number_table %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
